@charset "utf-8";

body {font-family:'Montserrat','Noto Sans KR', sans-serif;}
p, h1, h2 {margin:0;}
ul {list-style: none; margin:0; padding:0;}
a {text-decoration: none; color:inherit; display:block;}
img {vertical-align: top;}

/* ---------- 모바일 ---------- */

/* 헤더 */
header {width: 100%; height:100px; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding:0 5.2777%; box-sizing: border-box; position:fixed; top:0; left:0; z-index: 20; transition:.3s;}
header.scrollDown {height:60px; border-bottom: 1px solid #eee;}
header .hamburgerMenu {width:23px; height:23px; display: flex; align-items: center; cursor: pointer;}
header .hamburgerMenu .center {width:23px; height:1px; background-color: #000;position: relative; z-index: 20;}
header .hamburgerMenu .center::before {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; top:7px;}
header .hamburgerMenu .center::after {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; bottom:7px;}
header h1 {text-indent: -9999px; background: url(images/kielLogo.png) no-repeat center/cover; width:125px; height:33px;}
header h1 a {height:100%;}
header .gnb, header .sub_gnb {display: none;}

/* mobile hamburgerMenu overlay */
aside {display: flex; position: fixed; top:0; left:-100%; width: 100%; height:100%; z-index: 19;}
aside .first {width:50%; height:100vh; background-color: #fff; position: absolute; top:0; left:0; z-index: 18; padding:110px 25px 0; box-sizing: border-box; display: flex; flex-direction: column; letter-spacing: -0.3px; font-weight: 300;}
aside .first .category {font-size: 15px; line-height: 2.5;}
aside .first .member {font-size:14px; line-height: 2; position: absolute; bottom:150px; left:25px;}
aside .second {width:50%; height:100vh; background-color:#fbf9f5; position: absolute; top:0; right:0; padding:110px 25px 0; box-sizing: border-box; font-size:15px; line-height: 2.5; letter-spacing: -0.3px; opacity: 0; font-weight: 300;}

/* mobile hamburgerMenu active */
.hamburgerMenu.activeM div{animation: Menu 300ms ease forwards;}
.hamburgerMenu.activeM div::before{display: none;}
.hamburgerMenu.activeM div::after {bottom:0; animation: Menu-after 300ms ease forwards;}

@keyframes Menu {
    50% {transform:rotate(0deg);}
    100% {transform:rotate(45deg);}
}
@keyframes Menu-after {
    50% {bottom:0; transform: rotate(0deg);}
    100% {bottom:0; transform:rotate(90deg);}
}

/* search box */
.searchBox {width:100%; position:fixed; top:99px; z-index:17; background-color: #fff; opacity: 0; transition: 0.3s;}
.searchBox.click {opacity: 1;}
html.scrollDown .searchBox {top:59px;}
fieldset {border:none; border-radius: 0; padding:0; width:80%; margin:0 auto; position: relative;}
fieldset img {position:absolute; display: block;}
fieldset .search-icon {top:32px;}
fieldset input {width:100%; padding:0 36px 5px; border:0; line-height: 32px; font-size:15px; color:#7c8389; background-color: #fff; margin:24px auto; border-bottom:1px solid #000; box-sizing: border-box; outline: none;}
fieldset .close-icon {width:15px; top:32px; right:10px; cursor: pointer;}

/* container */
.container {color:#555555; padding-top:100px;}
p {line-height: 21px;}

/* 배너 */
.bannerSection {overflow: hidden;}
.bannerSection .paddingBox {display: none;}
.bannerSection .banner {display: flex; width:100%; height:375px;}
.bannerSection .banner li {width:100vw; background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; justify-content: center; align-items: center;}
.bannerSection .banner li:first-child {background-image:url(images/mainBannerBg1.png); background-position: 85% center;}
.bannerSection .banner li:nth-child(2) {background-image:url(images/mainBannerBg2.png); background-position: 82% center;}
.bannerSection .banner li:nth-child(3) {background-image:url(images/mainBannerBg3.png); background-position: 0 center;}
.bannerSection .banner li:nth-child(4) {background-image:url(images/mainBannerBg4.png); background-position: 95% 0;}
.bannerSection .banner .txt {width:100%; padding:0 5.2777%;}
.bannerSection .banner .txt p {font-size: 14px;}
.bannerSection .banner .txt .bn_category {color:#de404f; font-weight: 600; text-transform: uppercase;}
.bannerSection .banner .txt h2 {font-size:25px; font-weight:600; text-transform: capitalize; padding-bottom:15px;}
.bannerSection .banner .txt .bn_explain {display: none;}
.bannerSection .banner .txt .kr_ex {padding-bottom:40px; color:#2d2d2d; letter-spacing: -0.3px;}

.bannerSection .banner li:nth-child(3){background-size: 1400px; background-position: 40% 50%;}
.bannerSection .banner li:nth-child(3) .txt {padding-left:38%;}

.bannerSection .banner .txt .learnMore {background-color: rgba(255, 255, 255, 0.308); border:1px solid #de404f; border-radius: 40px; padding:15px 25px; font-weight: bold; color:#de404f; display: inline-block; transition:0.3s; cursor: pointer; font-size: 12px; text-transform: uppercase;}
.bannerSection .banner .txt .learnMore:active {background-color: #de404f; color:#fff;}
/* swiper btn */
.swiper-button-next {display: none;}
.swiper-button-prev {display: none;}

/* 배너 pagination */
.bannerSection .swiper-container {width:100%;}
.swiper-slide {width:100%; height:100%;}
.bannerSection .pagination li {width:18px; height:2px; background-color: #fff; text-indent: -9999px;}
.swiper-pagination-bullet {border-radius: 0%; width:18px; height:2px;}

/* 어바웃 */
.aboutSection {height:160px; display: flex; flex-direction: column; align-items:center; text-align:center;}
.aboutSection p {width:52.7777%; font-size:14px; text-transform: uppercase;}
.aboutSection p:nth-of-type(1) {font-weight: 500; margin-top: 35px;}
.aboutSection span {display:none;}

/* 베스트셀러 */
h2 {text-transform: uppercase; color:#000;}
.productSlide {height:480px; text-align: center; background-color: #efecea; padding:30px 10% 70px; box-sizing: border-box;}
.productSlide h2 {padding:0 0 25px; font-size: 15px;}
 
.productSlide .prd_tab {display: flex; justify-content: space-around;}
.productSlide .prd_tab li a {font-size: 14px; color: #d8c9bf;}
.productSlide .prd_tab li.focus a {color:#222222;}

.productSlide .prd_tab li p {display: none;}

/* 베스트셀러 스크롤 스와이퍼 */
.scroll_container {width:100%; height:315px; padding-top:30px; overflow: hidden; position: relative;}
.scroll_container .swiper-wrapper {display:flex;}
.scroll_container .swiper-wrapper .swiper-slide .swiper_txt a {padding-top:15px; font-size: 13px;}

.swiper-scrollbar {background-color: #d8c9bf;}
.swiper-container-horizontal>.swiper-scrollbar {height:2px; z-index: 16;}
.swiper-scrollbar-drag {background-color: #967c69;}

/* 베스트셀러 이미지 호버 */
.swiper_img > a {position: relative;width:285px; height: 245px; margin:0 auto;}
.swiper_img > a img {position: absolute; top:0; left:0;}
.swiper_img > a img:nth-of-type(2) {opacity: 0; transition: .3s;}

/* 베스트 리뷰 */
.bestReview {margin:0 auto; margin-top:65px; width: 90%;}
.bestReview h2 {text-align: center; font-size: 15px; margin-bottom:35px;}
.bestReview ul li {border:1px solid #d8c9bf; margin-bottom:12px; padding:18px; box-sizing: border-box;}
.bestReview ul li a {display: flex; align-items: center;}
.bestReview ul li .photo img {width:118px;}
.bestReview ul li a .con {width:60%; padding-left:18px; box-sizing: border-box; font-size: 12px; line-height: 1; letter-spacing: -0.3px;}
.bestReview ul li a .con div {margin-bottom:15px;}
.bestReview ul li a .con i {font-style: normal; color:#de404f; line-height: 0;}
.bestReview ul li a .con span {float:right; display: block; line-height: 17px;}
.bestReview ul li a .con::after {content: ""; display: block; clear: both;}

.bestReview .rvbtn {width: 140px; font-size: 12px; font-weight: bold; color: #de404f; margin:40px auto 65px;border:1px solid #de404f; border-radius: 40px; transition:.3s; text-transform: uppercase;}
.bestReview .rvbtn a {padding:15px 30px;}
.bestReview .rvbtn:active {background-color: #de404f; color:#fff;}

/* video */
.video {margin-bottom:65px;}

/* footer */
footer {padding: 0 35px; font-size: 14px; font-family: 'Noto Sans KR', sans-serif;}
footer ul {display: flex; font-size: 14px; margin-bottom:35px; font-weight: 500;}
footer ul li {padding-right:20px;}
footer ul li:hover {color:#de404f;}
footer .box {margin-bottom: 18px;}
footer .box p {line-height:1.8; letter-spacing: -0.3px;}
footer .copyright {margin-bottom: 18px; font-size: 12px; text-transform: capitalize;}
/* sns */
.sns {display: flex; margin-bottom:47px; align-items: center;}
.sns div {margin-right:18px;}

/* 스크롤 탑 */
.scrollTop {border:1px solid #eee; width:44px; height:44px; background: url(images/scrollTopArrow.svg) no-repeat center, #fff; position: fixed; right:20px; bottom:68px; opacity: 0.7; cursor: pointer;}

/* hamburgerMenu mask */
.mask {position: fixed; top:0; left:0; width:100%; height:100%; background-color: #4a3939; z-index: 16; opacity: 0; visibility: hidden; transition:.5s ease-in-out;}
html.activeM .mask {opacity: 0.5; visibility: visible;}


/* ---------- pc ---------- */
@media screen and (min-width:1339px) {
    /* header */
    header {height:160px; font-size: 15px; font-weight: 500;}
    header.scrollDown {height:80px; background-color: #fff; border-bottom: 1px solid #eee;}
    header h1 {width:220px; height:58px; position: absolute; left:50%; transform: translateX(-50%);}
    header .hamburgerMenu {display:none;}

    header .gnb, header .sub_gnb {display: flex;}
    header .gnb li {margin-right:45px;}
    header .gnb > li > a {height: 160px; line-height: 160px;}
    header .gnb li:hover > a{color:#de404f;}

    header .right {display: flex;}
    header .right a {margin-right:45px;}
    header .right .sub_gnb li:hover {color:#de404f;}
    header .right .sub_gnb li:last-child a {margin-right: 0;}

    /* header 호버시 나타나는 소메뉴 */
    .sub {width:100%; background-color: #fff; display: flex; align-items: center; padding:10px 5.2777%; position:fixed; top:120px; left:0; z-index:999; font-size:15px;}
    .sub li{padding:10px 0; font-weight: normal;}
    .sub li:first-child {font-weight: bold;}
    html.scrollDown .sub {top:80px;}

    /* search box */
    .searchBox {top:160px;}
    html.scrollDown .searchBox {top:80px;}
    fieldset {width:50%;}
    
    .container {padding-top:160px;}
    /* banner */
    .container .bannerSection {width: 89.4446%;}
    .bannerSection .paddingBox {display: block; width:5.2777%;}
    .bannerSection .banner {height:717px;}
    .bannerSection .banner li:first-child {background-position: center;}
    .bannerSection .banner li:nth-child(2) {background-position:center;}
    .bannerSection .banner li:nth-child(3) {background-size: cover; background-position: center;}
    .bannerSection .banner li:nth-child(3) .txt {text-align:left;}
    .bannerSection .banner li:last-child {background-position: center;}

    .bannerSection .banner .txt {padding:0 203px;}
    .bannerSection .banner .txt p {font-size: 16px; padding-left:0.4%;}
    .bannerSection .banner .txt h2 {font-size: 2.5rem; padding-bottom: 10px;}
    .bannerSection .banner .txt .bn_explain {display: block; color:#000; font-weight: 600; text-transform: capitalize; margin-bottom:44px;}
    .bannerSection .banner .txt .kr_ex {margin-bottom: 55px;}
    .bannerSection .banner li:nth-child(3) {justify-content: flex-end;}
    .bannerSection .banner li:nth-child(3) .txt {width: 26.7879%; padding-right:15%; padding-left:0;}

    .bannerSection .banner .txt .learnMore {font-size:15px; background-color: transparent;}
    .bannerSection .banner .txt .learnMore:hover {background-color: #de404f; color: #fff;}
    
    .swiper-pagination-bullet{width:2.0833%;}

    /* about */
    .aboutSection {height:550px; justify-content: center;}
    .aboutSection p {font-size: 18px; line-height: 35px;}
    .aboutSection p:nth-of-type(1) {margin:0 0 58px;}
    .aboutSection p > br{display: none;}
    .aboutSection span {display: block;}

    /* best seller */
    .productSlide {height:625px; padding:85px 15% 65px;}
    .productSlide h2 {font-size: 2.083vw;}
    .productSlide .flex_box {display: flex;}
    .productSlide .prd_tab {display: block; width: 26%; text-align: left;}
    .productSlide .prd_tab li a {font-size: 25px; padding:15px 0;}
    .productSlide .prd_tab li p {color:#73665c; margin:20px 0 30px; line-height: 30px;}
    .productSlide .prd_tab li.focus p {display: block;}

    .scroll_container {width: 74%; height:330px;}
    .swiper-slide {width:20%;}

    /* 베스트셀러 이미지 호버 */
    .swiper_img > a img:nth-of-type(2) {opacity: 0; transition: .3s;}
    .swiper-slide:hover .swiper_img a img:nth-of-type(2) {opacity: 1;}

    /* best review */
    .bestReview {margin:0 auto; width: 70%;}
    .bestReview h2 {margin:140px 0 100px; font-size:2.083vw;}
    .bestReview ul {display: flex;}
    .bestReview ul li {margin:0 2% 0 0; width:23.5%; padding:0;}
    .bestReview ul li:last-child {margin:0;}
    .bestReview ul li a {display: block;}
    .bestReview ul li .photo img {width: 100%;}
    .bestReview ul li a .con {width: 100%; padding:35px; font-size: 14px; letter-spacing: -0.3px; line-height: 25px;}
    .bestReview ul li a .con div {margin-bottom: 20px;}

    .bestReview .rvbtn {margin:60px auto 170px; font-size: 15px; width:160px; box-sizing: border-box;}
    .bestReview .rvbtn:hover {background-color: #de404f; color:#fff;}

    /* video */
    .video iframe {height:1050px; margin-bottom:140px;}

    /* footer */
    footer {padding:0 90px; font-size: 14px;}
    footer ul {font-size: 14px;}
    footer .box {margin-bottom: 30px;}
    footer .box p {line-height: 30px;}

    footer .botBox {display: flex; justify-content: space-between; padding:40px 0 90px; border-top: 1px solid #000;}
    footer .copyright {font-size: 14px; margin:0;}
    footer .sns {margin:0;}

    .scrollTop {bottom:56px;}
}