@charset "utf-8";

body {font-family:'Montserrat','Noto Sans KR', sans-serif;}
p, h1, h2 {margin:0;}
ul {list-style: none; margin:0; padding:0;}
a {text-decoration: none; color:inherit; display:block;}
img {vertical-align: top;}
::selection {background-color: #555; color:#fff;}
::-moz-selection {background-color: #555; color:#fff;}
::-webkit-selection {background-color: #555; color:#fff;}

/* ---------- 모바일 ---------- */

/* header */
header {width: 100%; height:100px; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding:0 5.2777%; box-sizing: border-box; position:fixed; top:0; left:0; z-index: 20; transition:.3s;}
header.scrollDown {height:60px; border-bottom: 1px solid #eee;}
header .hamburgerMenu {width:23px; height:23px; display: flex; align-items: center; cursor: pointer;}
header .hamburgerMenu .center {width:23px; height:1px; background-color: #000;position: relative; z-index: 20;}
header .hamburgerMenu .center::before {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; top:7px;}
header .hamburgerMenu .center::after {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; bottom:7px;}
header h1 {text-indent: -9999px; background: url(../images/kielLogo.svg) no-repeat center/cover; width:125px; height:33px; position: absolute; left:50%; transform: translateX(-50%);}
header h1 a {height:100%;}
header .gnb, header .sub_gnb {display: none;}

/* mobile hamburgerMenu overlay */
aside {display: flex; position: fixed; top:0; left:-100%; width: 100%; height:100%; z-index: 19;}
aside .first {width:50%; height:100vh; background-color: #fff; position: absolute; top:0; left:0; z-index: 18; padding:110px 25px 0; box-sizing: border-box; display: flex; flex-direction: column; letter-spacing: -0.3px; font-weight: 300;}
aside .first .category {font-size: 15px; line-height: 2.5;}
aside .first .member {font-size:14px; line-height: 2; position: absolute; bottom:150px; left:25px;}
aside .second {width:50%; height:100vh; background-color:#fbf9f5; position: absolute; top:0; right:0; padding:110px 25px 0; box-sizing: border-box; font-size:15px; line-height: 2.5; letter-spacing: -0.3px; opacity: 0; visibility: hidden; font-weight: 300; transition: .5s;}
aside .second.overlay {visibility: visible; opacity: 1;}

/* mobile hamburgerMenu active */
.hamburgerMenu.activeM div{animation: Menu 300ms ease forwards;}
.hamburgerMenu.activeM div::before{display: none;}
.hamburgerMenu.activeM div::after {bottom:0; animation: Menu-after 300ms ease forwards;}

@keyframes Menu {
    50% {transform:rotate(0deg);}
    100% {transform:rotate(45deg);}
}
@keyframes Menu-after {
    50% {bottom:0; transform: rotate(0deg);}
    100% {bottom:0; transform:rotate(90deg);}
}

/* search box */
.searchBox {width:100%; position:fixed; top:99px; z-index:17; background-color: #fff; opacity: 0; visibility: hidden; transition: 0.3s;}
.searchBox.click {opacity: 1; visibility: visible;}
html.scrollDown .searchBox {top:59px;}
fieldset {border:none; border-radius: 0; padding:0; width:80%; margin:0 auto; position: relative;}
fieldset img {position:absolute; display: block;}
fieldset .search-icon {top:32px;}
fieldset input {width:100%; padding:0 36px 5px; border:0; line-height: 32px; font-size:15px; color:#7c8389; background-color: #fff; margin:24px auto; border-bottom:1px solid #000; box-sizing: border-box; outline: none;}
fieldset .close-icon {width:15px; top:32px; right:10px; cursor: pointer;}

/* container */
.container {color:#555555; padding-top:100px;}
p {line-height: 21px;}

/* product title menu */
.container .titleArea {height: 56px; display: flex; align-items: center; padding:0 5.3333%; border-bottom: 1px solid #F1EDE9;}
.container .titleArea .return_history {width:29px; height:29px; border:1px solid #F1EDE9;}
.container .titleArea .return_history a img {display: block; padding:9px 11.5px;}
.container .titleArea h2 {padding-left:10px; font-size: 1em; color:#000; font-weight: normal; margin-bottom:0;}


/* product menu box */
.container .product-menu-box .category-path {display: none;}

/* prdBox1 */
/* prdBox1 slider */
.container .prdBox1 .prdImg {width:100%; height:375px; margin:0 0 45px;}
.container .prdBox1 .prdImg .swiper-container {width:100%; height:100%;}
.container .prdBox1 .prdImg ul .banner1 {background: url(images/prdDetail1.jpg) no-repeat center/cover;}
.container .prdBox1 .prdImg ul .banner2 {background: url(images/prdDetail2.jpg) no-repeat center/cover;}
.container .prdBox1 .prdImg ul .banner3 {background: url(images/prdDetail3.jpg) no-repeat center/cover;}
.container .prdBox1 .prdImg ul .banner4 {background: url(images/prdDetail4.jpg) no-repeat center/cover;}
/* swiper pagination bullet */
.swiper-pagination-bullet {border-radius: 0; width:25px; height:5px;}
/* prdBox1 info */
.prdBox1 .prdInfo .infoTop {border-bottom:1px solid #000;}
.prdBox1 .prdInfo h3 {font-size: 25px; font-weight: normal; color:#000; padding:0 8%;}
.prdBox1 .prdInfo p {padding:0 8% 40px; font-size: 14px; line-height:25px;}
.prdBox1 .prdInfo h4 {margin:0; padding:40px 8% 10px; font-weight: normal; color:#000;}
.prdBox1 .prdInfo h4 + p {padding-bottom: 25px;}
.prdBox1 form .capacity {padding:0 8% 30px; display: flex; justify-content: space-between;}
.prdBox1 form .capacity input {width:30%; height:35px; font-size: 13px; outline: none; border:none; background-color: #EFECEA;}
.prdBox1 form .capacity input.choice {background-color: #C4AD9D; color:#fff;}
.prdBox1 form .ea_price {padding:0 8% 60px; display: flex; justify-content: space-between;}
.prdBox1 form .ea_price .ea {width: 30%;}
.prdBox1 form .ea_price .price {display: flex; justify-content: flex-end; align-items: center;}
.prdBox1 form .ea_price .price p {padding:0; font-size: 16px; color: #de404f; font-weight: 500;}
.prdBox1 form .ea_price .price p strong {font-weight: 500;}
.prdBox1 form .ea_price .price p span {color:#555; font-size:13px;font-weight: normal;}
.prdBox1 form .ea_price .ea select {width:100%; font-size: 13px; outline:none; border-color:#555; padding:9px 40px 9px 10px; appearance: none; background: url(images/selectBtn.svg) no-repeat 85% 50%;}
.prdBox1 form .cart {width:84%; margin:0 8%; background-color: transparent; outline: none; border:1px solid #de404f; color:#de404f; text-transform: uppercase; padding:15px;}
.prdBox1 form .cart:active {background-color: #de404f; color:#fff;}

/* prdBox2 img & detail explain */
.prdBox2 {margin-top:145px;}
.prdBox2 .left .img1 {width:100%; height:467px; text-indent: -9999px; background: url(images/img1.jpg) no-repeat center/cover; margin-bottom: 45px;}
.prdBox2 .left p, .prdBox2 .right p {padding:0 8% 30px; font-size: 14px; line-height: 25px; letter-spacing: -0.3px;}
.prdBox2 .left p:nth-of-type(2), .prdBox2 .right p:nth-of-type(2) {padding-bottom:124px;}
.prdBox2 .right .img2 {width:100%; height:560px; text-indent: -9999px; background: url(images/img2.jpg) no-repeat center/cover; margin-bottom: 45px;}

/* prdBox3 Menu */
.prdBox3 {margin-bottom: 150px;}
h2 {text-align: center; font-size: 16px; font-weight: 500; text-transform: uppercase; margin-bottom: 15px; color:#000;}
.prdBox3 > p {text-align: center; font-size: 14px; letter-spacing: -0.3px; line-height: 25px; margin-bottom:35px;}
.prdBox3 > ul > li:first-child {border-top: 1px solid #000;}
.prdBox3 > ul > li {border-bottom: 1px solid #000; padding:15px 8%; font-size: 14px;}
.prdBox3 > ul > li::before {content: '+'; font-size:18px; float:right;}
.prdBox3 ul li .txt {line-height: 25px; padding:20px 10px;}
.prdBox3 .menu li.on::before {content: '-';}

/* prdBox4 review */
.prdBox4 h2 {margin-bottom:35px;}
.prdBox4 .btnbox {padding:0 8% 20px; display: flex; justify-content: space-between;}
.prdBox4 .btnbox input {width:48%; height:35px; outline: none; border:none; color:#fff; font-size: 13px;}
.prdBox4 .btnbox input:nth-of-type(1) {background-color: #5D544B;}
.prdBox4 .btnbox input:nth-of-type(2) {background-color: #C4AD9D;}
.prdBox4 .reviewList li {border-top:1px solid #eee; font-size: 14px; letter-spacing: -0.3px;}
.prdBox4 .reviewList li:last-child {border-bottom:1px solid #eee;}
.prdBox4 .reviewList li a {height:85px; padding:20px 30px;}
.prdBox4 .reviewList li a .thumb {display: none;}
.prdBox4 .reviewList li a .con {display: flex; height:100%; flex-direction: column; justify-content: space-around;}
.prdBox4 .reviewList li a .con p {height:18px; overflow: hidden;}
.prdBox4 .reviewList li a .con .bot span {padding:0 5px; color:#de404f;}

/* page */
.page {padding:20px 8% 90px;}
.page ul {display: flex; justify-content: center;}
.page ul li {padding:0 10px;}

/* footer */
footer {padding: 50px 35px 0; font-size: 14px; font-family: 'Noto Sans KR', sans-serif; border-top:1px solid #000;}
footer ul {display: flex; font-size: 14px; margin-bottom:35px; font-weight: 500;}
footer ul li {padding-right:20px;}
footer ul li:hover {color:#de404f;}
footer .box {margin-bottom: 18px;}
footer .box p {line-height:1.8; letter-spacing: -0.3px;}
footer .copyright {margin-bottom: 18px; font-size: 12px; text-transform: capitalize;}
/* sns */
.sns {display: flex; margin-bottom:47px; align-items: center;}
.sns div {margin-right:18px;}

/* scrollTop */
.scrollTop {border:1px solid #eee; width:44px; height:44px; background: url(../images/scrollTopArrow.svg) no-repeat center, #fff; position: fixed; right:20px; bottom:68px; opacity: 0.7; cursor: pointer;}

/* hamburgerMenu mask */
.mask {position: fixed; top:0; left:0; width:100%; height:100%; background-color: #4a3939; z-index: 16; opacity: 0; visibility: hidden; transition:.5s ease-in-out;}
html.activeM .mask {opacity: 0.5; visibility: visible;}

/* ---------- pc ---------- */
@media screen and (min-width:1339px) {
    /* header */
    header {height:160px; font-size: 15px; font-weight: 500;}
    header.scrollDown {height:80px; background-color: #fff; border-bottom: 1px solid #eee;}
    header h1 {width:220px; height:58px;}
    header .hamburgerMenu {display:none;}

    header .gnb, header .sub_gnb {display: flex;}
    header .gnb li {margin-right:45px;}
    header .gnb > li > a {height: 160px; line-height: 160px;}
    header .gnb li:hover > a{color:#de404f;}

    header .right {display: flex; align-items: center;}
    header .right a {margin-right:45px;}
    header .right .sub_gnb li:hover {color:#de404f;}
    header .right .sub_gnb li:last-child a {margin-right: 0;}

    /* header:hover submenu */
    .sub {width:100%; background-color: #fff; display: flex; padding: 0 5.2777% 50px; box-sizing: border-box; position:fixed; top:110px; left:0; z-index:999; font-size:15px;}
    .sub li{padding:8px 0; font-weight: normal; color:#555555;}
    .sub li:first-child {font-weight: bold; margin-bottom:15px; cursor: default; color:#000;}
    .sub_menu2 ul {padding-left: 118.047px;}
    html.scrollDown .sub {top:80px;}
    html.scrollDown .sub li:first-child {padding-top:20px;}

    /* search box */
    .searchBox {top:160px;}
    html.scrollDown .searchBox {top:80px;}
    fieldset {width:50%;}

    /* product menu box */
    .container .product-menu-box .titleArea {padding:0; margin-top:43px; border:0;}
    .container .product-menu-box .titleArea .return_history {display: none;}
    .container .product-menu-box .titleArea h2 {text-indent: -9999px;}
    .container .product-menu-box .category-path {display: flex; justify-content: flex-end; align-items: center;}
    .product-menu-box .category-path ol {display: flex; margin:0; padding:0; list-style: none;}
    .product-menu-box .category-path ol li{padding-left:15px; margin-left:10px; background: url(images/path.svg) no-repeat 0 50%;}
    .product-menu-box .category-path ol li:first-child{background:none;}

    /* container */
    .container {padding:160px 10.9375% 0;}

    /* prdBox1 Img & Info */
    .prdBox1 {display: flex; padding:40px;}
    .container .prdSlide {width:50%; display: flex; align-items: center;}
    .container .prdBox1 .prdImg {width:462px; height:462px; margin:0 auto;}
    .container .prdBox1 .prdInfo {width:50%; padding:40px; box-sizing: border-box;}
    .prdBox1 .prdInfo h3 {padding:0; font-size: 30px;}
    .prdBox1 .prdInfo p {padding:0 0 28px; font-size: 16px; line-height: 28px;}
    .prdBox1 .prdInfo h4 {padding:30px 0 15px;}
    .prdBox1 form .capacity {padding: 0 0 35px;}
    .prdBox1 form .capacity input {height:55px; font-size: 16px; cursor: pointer;}
    .prdBox1 form .ea_price {padding: 0 0 65px;}
    .prdBox1 form .ea_price .ea select {height:55px; font-size: 16px; cursor: pointer;}
    .prdBox1 form .ea_price .price p {font-size: 25px;}
    .prdBox1 form .ea_price .price p span {font-size: 16px;}
    .prdBox1 form .cart {width:100%; margin:0; padding:20px; cursor: pointer; transition:0.3s;}
    .prdBox1 form .cart:hover {background-color: #de404f; color:#fff;}
    /* box2 img & detail explain */
    .prdBox2 {margin-top:150px; display: flex;}
    .prdBox2 .left {width:50%; display: flex; flex-direction: column-reverse; align-items: center;}
    .prdBox2 .left .img1 {width:85.6%; height:800px;}
    .prdBox2 .left p, .prdBox2 .right p {font-size: 16px; padding:41px 12.5333% 35px; box-sizing: border-box; line-height: 29px;}
    .prdBox2 .left p:nth-of-type(2) {padding:0 12.5333% 108px;}
    .prdBox2 .right {width:50%;}
    .prdBox2 .right .img2 {width:72.2666%; height: 810px; margin:0 auto;}
    .prdBox2 .right p:nth-of-type(1) {padding:87px 17% 0;}
    .prdBox2 .right p:nth-of-type(2) {padding:37px 17% 0;}

    /* prdBox3 Menu */
    .prdBox3 {margin:200px 0 290px;}
    h2 {font-size:25px; font-weight: 500; margin-bottom: 35px;}
    .prdBox3 > p {letter-spacing: 0;}
    .prdBox3 > p br {display: none;}
    .prdBox3 > ul > li {padding:26px 4.7008%; font-size: 16px; cursor: pointer;}
    .prdBox3 > ul > li::before {font-size: 20px;}
    .prdBox3 ul li .txt {padding:30px 10px 10px; line-height: 29px;}

    /* prdBox4 Review */
    .reversebox {display: flex; flex-direction: column-reverse;}
    .prdBox4 .reviewList li a {height:290px; padding:75px 38px; box-sizing: border-box; display: flex;}
    .prdBox4 .reviewList li a .thumb {display: block; padding-right:40px;}
    .prdBox4 .reviewList li a .con {padding:20px;}
    .prdBox4 .reviewList li a .con p {height:60px;}
    .prdBox4 .btnbox {padding:74px 0 94px;justify-content: flex-end;}
    .prdBox4 .btnbox input {width:195px; height:50px; cursor:pointer;}
    .prdBox4 .btnbox input:nth-of-type(1) {margin-right:34px;}
    .prdBox4 .page {display: none;}

    /* footer */
    footer {padding:120px 90px 0; font-size: 14px;}
    footer ul {font-size: 14px;}
    footer .topBox {display: flex; justify-content: space-between;}
    footer .box {margin-bottom: 30px;}
    footer .box p {line-height: 30px;}
    footer .topBox .rightFooter {padding-right: 30vw;}
    footer .topBox .rightFooter ul {display: block;}
    footer .topBox .rightFooter ul li {padding:10px 0;}
    footer .topBox .rightFooter h4 {margin:0 0 20px; font-weight: 500; cursor:default; color:#000; position: relative;}
    footer .topBox .rightFooter h4::after {content: ''; display: block; width:90%; height: 0.8em; background-color: #ccc0b7a4; position: absolute; bottom:-0.2em; left:0; z-index: -3;}
    footer .botBox {display: flex; justify-content: space-between; padding:40px 0 90px; border-top: 1px solid #000;}
    footer .copyright {font-size: 14px; margin:0;}
    footer .sns {margin:0;}
    
    /* scrollTop */
    .scrollTop {bottom:56px;}
}