@charset "utf-8";

body {font-family:'Montserrat','Noto Sans KR', sans-serif;}
p, h1, h2 {margin:0;}
ul {list-style: none; margin:0; padding:0;}
a {text-decoration: none; color:inherit; display:block;}
img {vertical-align: top;}

/* ---------- 모바일 ---------- */

/* 헤더 */
header {width: 100%; height:100px; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding:0 5.2777%; box-sizing: border-box; position:fixed; top:0; left:0; z-index: 20; transition:.3s;}
header.scrollDown {height:60px; border-bottom: 1px solid #eee;}
header .hamburgerMenu {width:23px; height:23px; display: flex; align-items: center; cursor: pointer;}
header .hamburgerMenu .center {width:23px; height:1px; background-color: #000;position: relative; z-index: 20;}
header .hamburgerMenu .center::before {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; top:7px;}
header .hamburgerMenu .center::after {content:''; display: block; width:23px; height:1px; background-color: #000; position: absolute; bottom:7px;}
header h1 {text-indent: -9999px; background: url(../images/kielLogo.png) no-repeat center/cover; width:125px; height:33px; position: absolute; left:50%; transform: translateX(-50%);}
header h1 a {height:100%;}
header .gnb, header .sub_gnb {display: none;}

/* mobile hamburgerMenu overlay */
aside {display: flex; position: fixed; top:0; left:-100%; width: 100%; height:100%; z-index: 19;}
aside .first {width:50%; height:100vh; background-color: #fff; position: absolute; top:0; left:0; z-index: 18; padding:110px 25px 0; box-sizing: border-box; display: flex; flex-direction: column; letter-spacing: -0.3px; font-weight: 300;}
aside .first .category {font-size: 15px; line-height: 2.5;}
aside .first .member {font-size:14px; line-height: 2; position: absolute; bottom:150px; left:25px;}
aside .second {width:50%; height:100vh; background-color:#fbf9f5; position: absolute; top:0; right:0; padding:110px 25px 0; box-sizing: border-box; font-size:15px; line-height: 2.5; letter-spacing: -0.3px; opacity: 0; visibility: hidden; font-weight: 300; transition:.5s;}
aside .second.overlay {visibility: visible; opacity: 1;}

/* mobile hamburgerMenu active */
.hamburgerMenu.activeM div{animation: Menu 300ms ease forwards;}
.hamburgerMenu.activeM div::before{display: none;}
.hamburgerMenu.activeM div::after {bottom:0; animation: Menu-after 300ms ease forwards;}

@keyframes Menu {
    50% {transform:rotate(0deg);}
    100% {transform:rotate(45deg);}
}
@keyframes Menu-after {
    50% {bottom:0; transform: rotate(0deg);}
    100% {bottom:0; transform:rotate(90deg);}
}

/* search box */
.searchBox {width:100%; position:fixed; top:99px; z-index:17; background-color: #fff; opacity: 0; visibility: hidden; transition: 0.3s;}
.searchBox.click {opacity: 1; visibility: visible;}
html.scrollDown .searchBox {top:59px;}
fieldset {border:none; border-radius: 0; padding:0; width:80%; margin:0 auto; position: relative;}
fieldset img {position:absolute; display: block;}
fieldset .search-icon {top:32px;}
fieldset input {width:100%; padding:0 36px 5px; border:0; line-height: 32px; font-size:15px; color:#7c8389; background-color: #fff; margin:24px auto; border-bottom:1px solid #000; box-sizing: border-box; outline: none;}
fieldset .close-icon {width:15px; top:32px; right:10px; cursor: pointer;}

/* container */
.container {color:#555555; padding-top:100px;}
p {line-height: 21px;}

/* 제품 메뉴 박스 */
.container .product-menu-box {width: 100%;}
.container .product-menu-box .titleArea {height: 56px; display: flex; align-items: center; padding:0 5.3333%; border-bottom: 1px solid #F1EDE9;}
.container .product-menu-box .titleArea .return_history {width:29px; height:29px; border:1px solid #F1EDE9;}
.container .product-menu-box .titleArea .return_history a img {display: block; padding:9px 11.5px;}
.container .product-menu-box .titleArea h2 {padding-left:10px; font-size: 1em; color:#000; font-weight: normal;}

.product-menu-box .product-sort-box {width:100%; margin-bottom: 20px;}
.product-menu-box .product-sort-box form {display: flex; justify-content: flex-end; padding: 22px 3.7333%;}
.product-menu-box .product-sort-box form select {font-size:0.875em; outline: none; border-color: #F1EDE9; padding:9px 40px 9px 10px; appearance: none; background:url(images/selectBtn.svg) no-repeat 85% 50%;}

/* 메뉴 카테고리 스와이퍼 */
.product-menu-box .menuCategory {width: 100%; height: 100%; border-bottom: 1px solid #F1EDE9;font-size: 0.875em;}
.product-menu-box .swiper-wrapper {width:100%; height:50px;}
.product-menu-box .swiper-wrapper .swiper-slide {width:33.33%; display: flex; align-items: center; justify-content: center;}
.product-menu-box .swiper-wrapper li.focus {color:#000; font-weight: 500;}
.product-menu-box .menuCategory .category-path {display: none;}

/* 제품 리스트 박스 */
.prd-list-box {width: 100%; padding:0 1%; box-sizing: border-box;}
.prd-list-box .prdList {display: flex; flex-wrap: wrap;}
.prd-list-box .prdList li {width:48%; padding:0 1%; margin-bottom: 25px;}
.prd-list-box .prdList li:last-child {display: none;}
.prd-list-box .prdList li a .thumbnail {margin-bottom:17px;}
.prd-list-box .prdList li a .thumbnail img {width:100%;}
.prd-list-box .prdList li a .thumbnail .prdHover {display: none;}
.prd-list-box .prdList li a .thumbnail .searchIcon, .prd-list-box .prdList li a .thumbnail .shopB {display: none;}
.prd-list-box .prdList li a .description {text-align: center; font-size:0.9em; color:#000;}
.prd-list-box .prdList li a .description span {display:block; height: 44px; font-weight: 400; padding-bottom:5px;}

/* 페이지, 더보기 */
.container .page {border-bottom: 1px solid #000;}
.container .page ul {display: none;}
.container .page .viewmoreBtn {font-size: 0.813em; color:#de404f; text-transform: uppercase; font-weight: 500; border:1px solid #de404f; border-radius:40px; padding:15px 25px; margin:40px auto 50px; text-align: center; width:100px;}
.container .page .viewmoreBtn:active {background-color: #de404f; color:#fff;}

/* footer */
footer {padding: 50px 35px 0; font-size: 14px; font-family: 'Noto Sans KR', sans-serif;}
footer ul {display: flex; font-size: 14px; margin-bottom:35px; font-weight: 500;}
footer ul li {padding-right:20px;}
footer ul li:hover {color:#de404f;}
footer .box {margin-bottom: 18px;}
footer .box p {line-height:1.8; letter-spacing: -0.3px;}
footer .copyright {margin-bottom: 18px; font-size: 12px; text-transform: capitalize;}
/* sns */
.sns {display: flex; margin-bottom:47px; align-items: center;}
.sns div {margin-right:18px;}

/* 스크롤 탑 */
.scrollTop {border:1px solid #eee; width:44px; height:44px; background: url(../images/scrollTopArrow.svg) no-repeat center, #fff; position: fixed; right:20px; bottom:68px; opacity: 0.7; cursor: pointer;}

/* hamburgerMenu mask */
.mask {position: fixed; top:0; left:0; width:100%; height:100%; background-color: #4a3939; z-index: 16; opacity: 0; visibility: hidden; transition:.5s ease-in-out;}
html.activeM .mask {opacity: 0.5; visibility: visible;}


/* ---------- pc ---------- */
@media screen and (min-width:1339px) {
    /* header */
    header {height:160px; font-size: 15px; font-weight: 500;}
    header.scrollDown {height:80px; background-color: #fff; border-bottom: 1px solid #eee;}
    header h1 {width:220px; height:58px;}
    header .hamburgerMenu {display:none;}

    header .gnb, header .sub_gnb {display: flex;}
    header .gnb li {margin-right:45px;}
    header .gnb > li > a {height: 160px; line-height: 160px;}
    header .gnb li:hover > a{color:#de404f;}

    header .right {display: flex; align-items: center;}
    header .right a {margin-right:45px;}
    header .right .sub_gnb li:hover {color:#de404f;}
    header .right .sub_gnb li:last-child a {margin-right: 0;}

    /* header 호버시 나타나는 소메뉴 */
    .sub {width:100%; background-color: #fff; display: flex; padding: 0 5.2777% 50px; box-sizing: border-box; position:fixed; top:110px; left:0; z-index:999; font-size:15px;}
    .sub li{padding:8px 0; font-weight: normal; color:#555555;}
    .sub li:first-child {font-weight: bold; margin-bottom:15px; cursor: default; color:#000;}
    html.scrollDown .sub {top:80px;}
    html.scrollDown .sub li:first-child {padding-top:20px;}

    /* search box */
    .searchBox {top:160px;}
    html.scrollDown .searchBox {top:80px;}
    fieldset {width:50%;}
    
    .container {padding:160px 10.9375% 0;}

    /* 제품 메뉴박스 */
    .container .product-menu-box .titleArea {padding:0; margin-top:43px; border:0;}
    .container .product-menu-box .titleArea .return_history {display: none;}
    .container .product-menu-box .titleArea h2 {padding:0; font-size: 25px;}
    .product-menu-box .menuCategory {border:0; font-size:16px; margin-top:20px; display: flex; justify-content: space-between;}
    .product-menu-box .swiper-wrapper {width:50%;}
    .product-menu-box .swiper-wrapper .swiper-slide {width:17%;}
    .product-menu-box .menuCategory .category-path {display: flex; align-items: center;}
    .product-menu-box .menuCategory .category-path ol {display: flex; margin:0; padding:0; list-style: none;}
    .product-menu-box .menuCategory .category-path ol li{padding-left:15px; margin-left:10px; background: url(images/path.svg) no-repeat 0 50%;}
    .product-menu-box .menuCategory .category-path ol li:first-child{background:none;}

    .product-menu-box .product-sort-box form {padding:25px 0;}
    .product-menu-box .product-sort-box form select {border-color: #D8C9BF;}

    /* 제품 리스트 박스 */
    .prd-list-box {padding:0;}
    .prd-list-box .prdList li {width: 33.3333%; height:640px; padding:20px; box-sizing: border-box;}
    .prd-list-box .prdList li:last-child {display: block;}
    .prd-list-box .prdList li a .thumbnail {margin-bottom:25px; position: relative;}
    .prd-list-box .prdList li a .thumbnail .prdHover {display: block; position: absolute; top:0; left:0; opacity: 0;}
    .prd-list-box .prdList li:hover a .thumbnail .prdHover {opacity: 1;}
    .prd-list-box .prdList li a .thumbnail .searchIcon, .prd-list-box .prdList li a .thumbnail .shopB {display: block; width:37px; height:37px; border-radius: 50%; position: absolute; transition:0.3s; opacity: 0; visibility: 0; cursor: pointer;}
    .prd-list-box .prdList li a .thumbnail .searchIcon {top:50%; transform: translateY(-50%); left:38%; background: url(images/learnMoreIcon.svg) no-repeat center #fff;}
    .prd-list-box .prdList li a .thumbnail .shopB {top:50%; transform: translateY(-50%); right:38%; background: url(images/shoppingBagIcon.svg) no-repeat center #fff;}

    .prd-list-box .prdList li.hover a .thumbnail .searchIcon,.prd-list-box .prdList li.hover a .thumbnail .shopB {opacity:1; visibility: 1;}

    .prd-list-box .prdList li a .description {font-size: 16px;}
    .prd-list-box .prdList li a .description p br{display: none;}
    .prd-list-box .prdList li a .description span {height:100%;padding-bottom: 20px;}

    /* 페이지 */
    .container .page {padding:40px 0 80px; border:0;}
    .container .page .viewmoreBtn {display: none;}
    .container .page ul {display: flex; justify-content: center;}
    .container .page ul li.select a {text-decoration: underline;}
    .container .page ul li a {height:36px; padding:9px; display: flex; align-items: center;}
    .container .page ul li a img {width:9px;}

    .line {border-bottom:1px solid #000; margin-bottom: 120px;}

    /* footer */
    footer {padding:0 90px; font-size: 14px;}
    footer ul {font-size: 14px;}
    footer .box {margin-bottom: 30px;}
    footer .box p {line-height: 30px;}

    footer .botBox {display: flex; justify-content: space-between; padding:40px 0 90px; border-top: 1px solid #000;}
    footer .copyright {font-size: 14px; margin:0;}
    footer .sns {margin:0;}

    .scrollTop {bottom:56px;}
}